@import url('https://fonts.googleapis.com/css?family=Cantarell:700|Source+Code+Pro');
// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin serif-font() {
  font-family:  'Source Code Pro', monospace;
}
@mixin sans-serif-font() {
  font-family: 'Cantarell', 'Helvetica Neue', Arial, sans-serif;
}
